/dataset/anime_data.txt
/dataset/anime_with_synopsis.csv
/dataset/animelist.csv
/dataset/rating_complete.csv
/dataset/rating_data_*.txt
/dataset/watching_status.csv
/dataset/filtered_anime_data.csv
/dataset/filtered_rating_data.csv
module_install.txt
