/dataset/anime_data.txt
/dataset/anime_with_synopsis.csv
/dataset/animelist.csv
/dataset/rating_complete.csv
/dataset/rating_data_*.txt
/dataset/watching_status.csv
/dataset/filtered_anime_data.csv
/dataset/filtered_rating_data.csv
/dataset/links.csv
/dataset/names.sav
/dataset/points.csv
module_install.txt

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
